#projectContainer {
    margin: 0px;
    background: linear-gradient(45deg, red, black);
}

#projects {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.projectTile {
    overflow: hidden;

    img {
        position: relative;
        width: 100%;
        border: 2px solid midnightblue;
        border-radius: 0px 25px;
    }
}

.detailsPage {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    color: #ddd;
    z-index: 50;
    opacity: 0.9;
    position: absolute;

    /* top: 10%; */
    left: 10%;
    width: 80%;
    height: min-content;
}

.detailsOuter {
    display: flex;
}

.detailsStack {
    color: #222;
    flex: 6;
}

.detailsStackLogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10%;

    img {
        margin-right: 1rem;
    }
}

.detailsStack img {
    max-height: 150px;
}

.detailsDesc {
    font-size: xx-large;
    padding: 1rem 1rem;
    background-color: #373a39;
    flex: 2;
    min-height: 100%;
}

.detailsHeader {
    height: 100px;
    background-color: rgb(49, 47, 49);
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-around;

    svg {
        fill: #ddd;
        transition: all 200ms ease;
    }

    div {
        >* {
            margin-left: 1rem;
        }

        a>svg:hover {
            fill: springgreen;
            transition: all 200ms ease;
        }
    }

    >div {
        :first-child svg:hover {
            fill: #1f80ff;
            transition: all 200ms ease;
        }

        >svg:last-child:hover {
            fill: red;
            transition: all 200ms ease;
        }
    }

    a {
        color: #ddd;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.tileMask {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 11;
    transform: translateY(50%);
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    backdrop-filter: blur(10px);
    transition: all 200ms ease;

    &.show {
        opacity: 1;
        transform: translateY(0%);
        transition: all 200ms ease;
    }

    button {
        border: none;
        background: none;
    }
}

@media (max-width: 768px) {
    #projects {
        display: flex;
        flex-direction: column;
        padding: 1rem 0rem;
    }

    .detailsPage {
        position: absolute;
        top: auto;
        left: auto;
    }

    .detailsOuter {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .detailsPage img {
        width: 30%;
        max-height: unset;
        height: auto;
    }

    .detailsDesc {
        font-size: large;
        flex: auto;
    }

    .detailsHeader {
        svg {
            height: 25px;
            width: 25px;
        }

        h2 {
            font-size: larger;
        }
    }
}