  #quoteContainer {
    align-items: center;
    background: gray;
    background-size: cover;
    transition: background-color 500ms ease;
  }
  
  #quote-box {
    margin: 50px auto;
    background: white;
    width: 50%;
    border-radius: 10px;
    padding: 1.5rem 1.5rem
  }
  #author {
    color: blue;
    text-align: right;
   
  }
  #quoteButtons {
    height: 50px;
    display: flex;
    justify-content: space-around;
  }
  .shareQuotes img{
    height: 100%;
    width: auto;
  }
  #new-quote {
    background: lightblue;
    border: 1px solid blue
  }
  #new-quote:active {
    transform: scale(0.95);
    background-color: deepskyblue;
  }

  @media screen and (max-width: 768px) {
    #quoteContainer {
      font-size: .8rem;
    }
    #quote-box {
      width: 80%
    }  
    #socialButtons {
      width: 70%;
    }
    .shareQuotes img {
      padding-left: 3%;
    }
  }