#memoryContainer {
    background: rgb(22, 22, 97);
    color: white;
    font-size: large;

    button {
        color: white;

        &:hover {
            color: black;
        }
    }

    svg {
        color: black;
    }
    input {
        background: white;
    }
}

#memoryBlock {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.memoryCard {
    background-color: thistle;
    display: flex;
    border: 1px solid white;
    font-size: xx-large;
    transition: background-color 500ms ease;

    &.hide {
        background-color: black;
    }

    &.matched {
        background-color: green;
    }

    svg {
        transform: scale(3);
    }
}

#highScores {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

#finished {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    button:hover {
        background-color: white;
        transform: scale(1.03);
    }
}

.datesAndTimes {
    display: flex;
    justify-content: space-between;
}

.leaderboardContainer {
    width: 33%;
}

.memScores {
    display: flex;
    > div:first-child {
        margin-right: 2rem;
    }
}
.memscorediv {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 1rem;
    > :last-child {
        background-color: white;
        color: #161661;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        grid-area: 1 / 2 / 3 / 3;
    }
}

@media (max-width: 768px) {
    #highScores {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .leaderboard,
    .leadership {
        width: 100%;
    }

    .leaderboardContainer {
        width: 90%;
    }

    .datesAndTimes {
        width: 100%;
    }

    #memoryBlock {
        width: 90%;
    }
}