@import '../../mixins';

.container {
    background: #a6a6c7;
    color: white;
    font-size: large;
    @include flexCenter;
    @include container;
}

#memoryBlock {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
}
$delay: 400ms;
.memoryCard {
    aspect-ratio: 1;
    height: 7.5rem;
    position: relative;
    font-size: xx-large;
    @include flexCenter;
    >div {
        position: absolute;
        inset: 0;
        @include flexCenter;
        transition: transform $delay linear;
    }
    svg {
        transform: scale(3);
    }
    .backCard {
        transition-delay: $delay;
    }
    .frontCard {
        transition-delay: 0s;
    }
}
.frontCard {
    background-color: gold;
    transform: rotateY(90deg);
}
.backCard {
    background: url('./tile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    transform: rotateY(0deg);
}

.show {
    > div {
        transition: transform $delay linear;
    }
    .frontCard {
        transform: rotateY(0deg);
        transition-delay: $delay;
    }
    .backCard {
        transform: rotateY(90deg);
        transition-delay: 0s; 
    }
}


#highScores {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

#finished {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    button:hover {
        background-color: white;
        transform: scale(1.03);
    }
}

.datesAndTimes {
    display: flex;
    justify-content: space-between;
}

.leaderboardContainer {
    width: 33%;
}

.memScores {
    display: flex;
    > div:first-child {
        margin-right: 2rem;
    }
}
.memscorediv {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 1rem;
    > :last-child {
        background-color: white;
        color: #161661;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        grid-area: 1 / 2 / 3 / 3;
    }
}

@media (max-width: 768px) {
    #highScores {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .leaderboard,
    .leadership {
        width: 100%;
    }

    .leaderboardContainer {
        width: 90%;
    }

    .datesAndTimes {
        width: 100%;
    }

    #memoryBlock {
        width: 90%;
    }
}