@import '../../mixins';

.container {
    background-color: #141b26;
    height: 100vh;
    width: 100vw;
    @include flexCenter(column);
    justify-content: center;
    color: white;
}
$hgtwdth: 3.5rem;

.letterblock {
    position: relative;
    overflow: hidden;
    height: $hgtwdth;
    width: $hgtwdth;
    margin-right: 0.25rem;
    border: 2px solid gray;
    border-radius: 7.5px;
    color: white;
    font-size: 1.5rem;
    >div {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        @include flexCenter
    }
    div:last-child {
        top: 0;
    }
}
.colorblock {
    top: 100%;
}
@for $i from 0 through 4 {
    .block#{$i} {
        transition: all 500ms ease;
        top: 0;
        transition-delay: ($i + 1) * 250ms;
    }
}
.keyboard {
    @include flexCenter(column);
    .keyboardRow {
        @include flexCenter;
    }
    .key {
        height: $hgtwdth;
        min-width: $hgtwdth;
        @include flexCenter;
        background-color: gray;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
.correct {
    background-color: green !important;
}
.ok {
    background-color: #969635 !important;
}
.wrong {
    background-color: #6e2828 !important;
}

.row {
    display: flex;
    margin-bottom: 0.5rem;
}
.blocks {
    @include flexCenter(column);
}
