@import '../../mixins';

$hgtwdth: 7.5rem; // USED IN JAVASCRIPT. DO NOT CHANGE!!!!!!!
.container2048 {
    height: 100vh;
    width: 100vw;
    background-color: #3b4b50;
    @include flexCenter;
}

.board {
    $boardColor: #c8dd0f;
    position: relative;
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    grid-template-columns: repeat(4, $hgtwdth);
    background-color: $boardColor;

    .block {
        height: $hgtwdth;
        background-color: darken($color: $boardColor, $amount: 15);
    }
}

.controlElem {
    @include flexCenter;
    font-size: 3.5rem;
    position: absolute;
    height: $hgtwdth;
    width: $hgtwdth;
    background-color: green;
    transition: all 250ms ease;
}
.score {
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    font-size: 10rem;
    top: 40%;
    left: 10%;
}

@media (max-width: 768px) {
    $hgtwdth: 4rem; // USED IN JAVASCRIPT. DO NOT CHANGE!!!!!!!
    $gap: 0.25rem;
    .board {
        grid-template-columns: repeat(4, $hgtwdth);
        gap: $gap;
        padding: $gap;

        .block {
            height: $hgtwdth;
        }
    }
    .controlElem {
        height: $hgtwdth;
        width: $hgtwdth;
    }
}