@import '../../mixins';

#quizContainer {
    display: flex;
    background: rgba($color: #000000, $alpha: .3) url('../../../public/image.jpg');
    background-position: center;
    background-blend-mode: darken;
    animation: bgRotate 10s ease infinite alternate;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
@keyframes bgRotate {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}

#mathGameButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    height: 400px;
    width: calc(3/4*400px);

    button {
        background-color: ivory;
        font-size: x-large;
        color: black;
    }
}

#gameContainer {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
}

.gamePanels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.quizDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#backBtn {
    grid-area: 4 / 1 / 5 / 2;
}

.importantGame {
    height: 2rem;
    padding: 0.5rem;
    text-align: center;
    font-size: x-large;
    
}
.NB {
    width: 100%;
    border: 1px solid white;
    @extend .backdrop;
}

.leadership {
    @extend .backdrop;
    border: 1px solid white;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5%;
    color: white;

    > :nth-child(2) {
        display: flex;
        width: 5rem;
        align-items: center;
        justify-content: center;
        grid-area: 1 / 2 / 3 / 3;
        font-size: clamp(2rem, 100%, 5rem);
    }
}

.leaderboard {
    height: 50%;
    align-self: center;
    justify-content: center;
}

#gameStats {
    height: fit-content;
    align-self: center;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid white;
    @extend .backdrop;
    >div:first-child {
        grid-column: 1 / span 3;
    }
    >div {
        @include flexCenter(column);
        padding: 1rem;
        position: relative;
    }
    .line {
        position: absolute;
        width: 100%;
        height: 40%;
        border-left: 1px solid white;
    }
}
.stats:last-child {
    .line {
        border-right: 1px solid white;
    }
}

.gameButtons {
    border-radius: 50%;
}

#gameOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;

    button {
        padding: 0.5rem;
        font-size: large;
        border: 1px solid black;
        
        &:first-of-type {
            background-color: springgreen;
        }
        &:last-of-type {
            background-color: aqua;   
        }
    }
}
.niceButton {
    border-radius: 10rem;
    background: none;
    border: 2px solid;
    color: springgreen;
    padding: 0.75rem;
    font-size: 1.25rem;
    transition: all 250ms ease;
    &:hover {
        background-color: springgreen;
        color: black;
    }
}
.endgameHS {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 50vw;
    > div {
        align-self: flex-start;
    }
}
.difficulty {
    @include flexCenter();
    color: white;
    font-size: 1.25rem;
    width: max-content;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 2px solid white;
    border-radius: 50rem;
    position: relative;
    >div {
        margin: 0 0.75rem;
        height: 100%;
    }
    button {
        box-sizing: content-box;
        font-size: 1.25rem;
        padding: 0.75rem;
        width: 1.5rem;
        background: none;
        border: none;
        color: inherit;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
}
.backdrop {
    backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
    #quizContainer {
        flex-direction: column;
    }

    #gameContainer {
        display: flex;
        flex-direction: column;
    }

    #mathGameButtons {
        width: 80vw;
        height: calc(80vw * 4 / 3);
    }

    #gameStats div {
        padding: 0.2rem;
    }
    .endgameHS {
        flex-direction: column;
        width: auto;
    }
}