#aboutContainer {
    --htwtsmall: 10rem;
    --htwt: 15rem;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
}
#myPic {
    object-fit: cover;
    width: var(--htwt);
    height: var(--htwt);
    border-radius: 50%; 
}

#nameAndPic {
    width: 100%;
    height: 11.25rem;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nameAndPic h1{ 
    color: #ddd;
    font-size: 5rem;
    font-family: serif;
}
#aboutMain {
    width: 90%;
    display: flex;
}

.aboutNavBtn {
    background: lightslategrey;
    font-size: 1.5rem;
    border-radius: 15px;
    font-family: serif;
    color: #ddd;
    height: 4.25rem;
    width: 10rem;
    box-shadow: 0 0 15px black;
    transition: all 250ms;
}
.aboutNavBtn:hover {
    background: #ddd;
    color: black;
    transition: all 250ms;
}
#aboutContent {
    width: 100%;
    display: flex;
    font-size: 3rem;
}
.langDiv {
    display: flex;

}
.langLogos {
    height: 4.5rem
}

/* Desktop and laptop styles */

@media (min-width: 768px) {
    #aboutContainer {
        height: 100vh;
        width: 100vw;
        align-items: center;
    }
    #myPic {
        position: absolute;
        top: 5%;
        left: 5%;
    }
    #aboutNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 35%;
        height: 100%;
    }
    #aboutContent {
        flex-direction: column;
        height: 70%;
        width: 50%;
        align-items: center;
        justify-content: space-between;
    }
    #aboutMain {
        height: 100%;
        align-items: center;
    }
    .langDiv {
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .aboutNavBtn {
        margin: 1rem 0rem;
    }
}

/* Phone styles */

@media (max-width: 768px) {
    #aboutContainer {
        min-height: 100vh;
        width: 100vw;
    }
    
    #nameAndPic {
        display: flex;
        justify-content: space-evenly;
    }
    #nameAndPic h1 {
        font-size: 32px;
    }

    #aboutMain {
        flex-direction: column;
        height: auto;
        margin: 1rem;
    }
    #myPic {
        left: auto;
        top: auto;
        height: var(--htwtsmall);
        width: var(--htwtsmall);
    }
    #aboutNav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
    }
    #aboutContent {
        font-size: 25px;
        flex-direction: column;
        align-items: center;
    }
    .langDiv {
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }
}