#forumContainer {
    font-family: Helvetica;
    background: #2c3e50;
    color: #ebe9f8;
    justify-content: center;
}

#signupForm {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50%;
    border: 1px solid #ebe9f8;
}

#errorDiv {
    padding: inherit;
    font-size: large;
    color: red;
    position: absolute;
    line-height: 1;
    bottom: 0;
    width: 80%;
}

#header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    background-color: black;
    z-index: 1;

    img {
        height: 90%;
        border-radius: 15px;
    }

    button {
        background: none;
        border: none;
    }

    svg {
        fill: white;

        &:hover {
            transform: rotate(180deg);
            transition: 2000ms ease;
        }
    }
}

.jaja {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

#forumMain {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    width: 100%;
}

.onlineAvs {
    height: 90%;
    width: auto;
}

.onlineDiv {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    height: 30px;
    font-size: small;
}

#whosOnline {
    height: 90%;
}

#toplevel {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#userHover {
    padding: 1rem;
    min-width: 500px;
    background-color: #a1a1a1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222;

    img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}

.postDiv {
    display: flex;
}

.posterInfo {
    text-align: center;
    line-height: 1.5rem;
    padding: 1rem;
    background-color: cornflowerblue;
    width: 150px;

    img {
        object-fit: cover;
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 50%;
    }
}

.postmsg {
    padding: 1rem;
    width: 80%;

    div {
        padding: 0.5rem;
    }
}

.postContent {
    min-height: 5rem;
    width: auto;
    border: 1px solid #ebe9f8;
}

.postStats {
    border-bottom: 1px solid #ebe9f8;
}

#settingsDiv {
    padding: 1rem;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 25%;
    right: 25%;
    width: 250px;
    height: 400px;

    button {
        margin-top: 0.5rem;
        border: 1px solid #ebe9f8;
        color: white;
        border-radius: 10px;

        &:hover {
            background-color: #ebe9f8;
            color: darkcyan;
        }
    }
}

.postStats {
    button {
        background: none;
        border: none;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: translateX(5px);
        }
    }

    svg {
        fill: #ebe9f8;
    }
}

.quoteOrEdit {
    display: flex;
    justify-content: flex-end;
}

#newPost {
    background-color: darkcyan;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: auto;

    form {
        width: 100%;
        height: 90%;
    }

    textarea {
        width: inherit;
        height: 90%;
    }

    button {
        width: 100%;
    }
}

.quotedPost {
    font-size: small;
    font-style: italic;
    text-align: right;
    border-bottom: 0.5px solid white;
}

#postBtns {
    text-align: center;
}

@media screen and (max-width: 768px) {
    #forumMain {
        display: flex;
    }

    #whosOnline,
    #dummydiv {
        display: none;
    }

    .postmsg {
        width: 100%;
    }

    .posterInfo {
        padding: 0.5rem;
    }

    #signupForm {
        width: 90%;
    }
}