@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');

#homeContainer {
    flex-direction: column;
    color: white;
    height: 100vh;
}
#name {
    font-family: 'Stick No Bills', sans-serif;
}
#title {
    font-family: 'Stick No Bills', sans-serif;
}
hr {
    width: 25%;
}
#navbar {
    width: 100%; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px; 
    left: 0px;
    background-color: black; 

}
#navbar a {
    color: red;
    font-size: 20px;
}
.homepageLinks {
    margin: 0 5%
}
#welcome {
    height: 100%;
    background: linear-gradient(45deg, red, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

@media (max-width: 768px) {
    #navbar {
        width: 100vw;
        height: 5rem;
        justify-content: left;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    #navbar::-webkit-scrollbar {
        display: none;
    }

    #navbar a {
        font-size: 16px;
    }
    .homepageLinks {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}