@import '../../variables';

#contactContainer {
    color: white;
    font-size: large;
    font-family: helvetica;
    flex-direction: column;
}

#contactForm {
    width: 50vw;
    height: 75vh;
    background-color: #00000050;
    border-radius: .5rem;
    box-shadow: 0 0 20px black;

    textarea,
    input,
    button {
        position: relative;
        border-radius: .5rem;
        color: white;
        border: none;
        background: #00000050;
    }

    textarea,
    input {
        &:focus, &:not(:placeholder-shown) {
            outline: none;
            +label {
                top: -15px;
                font-size: 12px;
                color: hsl(180, 25%, 75%);
            }
        }
    }

    div {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 90%;

        textarea {
            height: 12rem;
        }
    }

    button {
        margin-top: 5%;
        font-size: large;
        width: inherit;
        color: aliceblue;
        height: 3rem;
        width: 90%;
        background: none;
        border: 5px solid steelblue;

        &:hover {
            background-color: steelblue;
            box-shadow: 0 0 5px 5px aliceblue;
            border: none;
        }
    }

    label {
        position: absolute;
        top: 0;
        transition: all 250ms ease-in-out;
    }

    input {
        height: 25px;
    }
}

.formControl {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 0.75rem;
}

@media (max-width: 768px) {
    #contactForm {
        width: 90%;
    }
}