body {
  width: 100vw;
  min-height: 100vh;
  margin: 0px;
  background: linear-gradient(45deg, red, black);
}
.container {
  width: 100vw;
  min-height: 100vh;
  display: flex
}
.flexCenter {
  justify-content: center;
  align-items: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.niceButton {
  border-radius: 1rem;
  padding: 0.5rem;
  background: none;
  border: 1px solid
}
.niceButton:hover {
  transform: scale(1.15);
  transition: transform 200ms ease-in-out;
}
.button2 {
  padding: 0 1rem;
  font-size: large;
  color: inherit;
  height: 3rem;
  background: none;
  border: inherit;
  background-color: none;
}
.button2:hover {
  background-color: aliceblue;
  color: initial

}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c3e50;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
